/* CSS declarations go here */

* {
	font-family: sans-serif;
}

#map-background > svg {
	fill: #989898;	
}

#map-background {
	border: 1px solid #777;
	z-index: 1; 
		
}

.tooltip  {
  position: absolute;
  font-size: large;           
  pointer-events: auto; 

}

.author, h5 {
	color: #0092ff;
	font-size: larger;
}

.tooltip-in  {
  position: absolute;
  font-size: medium;   
  text-align: center;           
  pointer-events: auto; 
  opacity: 0;
  }

.main {
	font-size: medium;
	text-align: -webkit-left;
	text-align: left;
	float: right;
}

.heading {
	font-weight: bold;
	color: #777;
	}

.tools {
	text-decoration: none;
}

